/* Home.css */
body{
    background-color: #EFF2F5;
}

.page{
    display: flex;
}

.bitcoin{
    margin-left: 40px;
    margin-bottom:10px;
}


.sideBox{
        width: 85%;
        margin: 20px 0px;
        padding: 20px;
        border: 1px solid #f1eded;
        border-radius: 7px;
        background-color: white;
    }
.sideBox1 {
    width: 85%;
    margin: 20px 0px;
    color: white;
    padding: 20px;
    border: 1px solid #f1eded;
    border-radius: 20px;
    background-color: #0052FE;
}


.box {
    width: 93%;
    margin: 20px 0;
    padding: 20px;
    padding-top: 1px;
    border: 1px solid #f1eded;
    border-radius: 7px;
    background-color: white;
}

.container1{
    padding-left: 33px;
}

.last {
    width: 99%;
    border: 1px solid white;
    padding: 30px;
    padding-left: 40px;
    background-color: white;
}